[user]
  name = Ørjan Blom
  email = blom@blom.tv
[core]
  autocrlf = input
  whitespace = trailing-space
[color]
  ui = auto
[push]
  default = simple
[alias]
  aa = add --all
  br = branch
  ca = commit --amend
  ci = commit
  co = checkout
  dc = diff --cached
  di = diff
  st = status
