[user]
  name = Ørjan Blom
  email = blom@blom.tv
[core]
  autocrlf = input
  whitespace = trailing-space
  excludesfile = ~/.gitignore
[color]
  ui = auto
[push]
  default = simple
[alias]
  aa = add --all
  br = branch
  ca = commit --amend
  ci = commit
  co = checkout
  ctags = !.git/hooks/ctags
  dc = diff --cached
  di = diff
  lf = log --pretty=fuller
  rc = rebase --continue
  st = status
[log]
  decorate = short
[init]
  templatedir = ~/.git-template
